body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #0000001a;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side-menu {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 80px;
    max-width: 80px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

h1 span {
    color: #4285f4;
}

h1 span1 {
    color: #e20a0a;
}

h1 span2 {
    color: #161d03;
}

h1 span3 {
    color: #b6097c;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
}

nav ul li {
    color: #000;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.gray-background {
    background-color: #333;
}

.page-inner-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contato {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.redes-sociais a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.redes-sociais a:hover {
    background-color: #0056b3; 
}